.left {
	float:left;
}
.right {
	float:right;
}
textarea {
	margin: 95px 0px 0px 75px;
	width:80%;
	height: 200px;
}

#content {
	width: 960px;
	background: url("/images/background.jpg");
}

#left {
	width: 640px;
	float:left;
}
#right {
	width: 320px;
	float:right;
}
#intro {
	height: 100px;
}
#problem {
	height: 100px;
}
#console {
	height: 300px;
}

#debug {
	height: 400px;
}
#score {
	height: 200px;
}

.outline {
	border: 1px solid white;
}

#content.game {
	background-color: #000;
	color:green;
	font-size:1.2em;
}