.left {
	float:left;
}
.right {
	float:right;
}
#computer_screen {
	margin: 45px 0px 0px 10px;
	width:100%;
	height: 220px;
	overflow: hidden;
}

#editor {
	border: 1px solid red;
}

#content {
	width: 960px;
}

#left {
	width: 700px;
	float:left;
}
#right {
	width: 260px;
	float:right;
}
#intro {
	height: 30px;
	padding-top:10px;
	text-align:center;
	color:black;
}
#problem {
	height: 90px;
	margin:10px;
}
#example {
	margin:10px;
	height:90px;
}

#debug {
	height: 400px;
}
#score {
	padding-top:20px;
	height: 230px;
	position:relative;
}

#compile{
	margin-right:50px;
	margin-top:10px;	
}

.outline {
	border: 1px solid white;
}

#content.game {
	background: url("/images/background.jpg");	
	background-color: #000;
	color:#2c2d2d;
	font-size:1.2em;
}

#avatar {
	position:absolute;
	left: 40px;
	top: 70px;
}
