= javascript_include_tag "engine.js"
= javascript_include_tag "problem#{@level_id}.js"

Game Page

#content
	#left
		#intro.outline
		#problem.outline
		#console.outline
			console
			%textarea
			.clearfix
			%input#compile.btn.primary.right{:type => "button", :value => "Compile"}
		#feedback.outline
			feedback
	#right
		#score.outline
			="you are now level #{@level_id} hacker!"
		#debug.outline
			debug

#level_id{:style=>"display:none", :level_id => @level_id}
	
:css
	.left {
		float:left;
	}
	.right {
		float:right;
	}
	textarea {
		width:80%;
		height: 220px;
	}

	#content {
		width: 960px;
	}
	
	#left {
		width: 640px;
		float:left;
	}
	#right {
		width: 320px;
		float:right;
	}
	#intro {
		height: 100px;
	}
	#problem {
		height: 100px;
	}
	#console {
		height: 300px;
	}
	#feedback {
		height:200px;
	}
	
	#debug {
		height: 400px;
	}
	#score {
		height: 200px;
	}
	
	.outline {
		border: 1px solid red;
	}