= javascript_include_tag "story.js"
#hidden{:tag => @stories_json}
%embed{:src => "/Love Story.mp3", :loop => "false", :autostart => "true", :hidden => "true"}
#content
	%h2="第#{@stories[0].level}章"
	#left
		= image_tag @stories[0].image, :width => "640px", :id => "image"
	#right
		#text
		#next
			-unless @level_id == "16"
				.right=link_to "开始编程!", "/games/#{@level_id}", :class => "btn primary", :style => "display:none;"
	
:css
	.left {
		float:left;
	}
	.right {
		float:right;
	}
	textarea {
		width:80%;
		height: 220px;
	}

	#content {
		width: 960px;
		margin: 0px auto;
	}
	
	#left {
		width: 640px;
		float:left;
	}
	#right {
		width: 320px;
		float:right;
	}
	
	#problem {
		height: 300px;
	}
	#console {
		height: 300px;
	}
	#feedback {
		height:200px;
	}
	
	#score {
		height: 200px;
	}
	
	.outline {
		border: 1px solid red;
	}
	
	#text{
		height:350px;
		margin-top:10px;
		margin-left:10px;
	}
	
	#text p{
		font-size:18px;
		line-height:22px;
		color:black;
	}